body{
    --black:#000000; /* for text */
    --lemon-yellow:#FFFFB3; /* background color*/
    --earth-yellow:#DCAB6B;
    --sepia:#774E24;
    --silver:#84828F; /* for border */

    background-color: var(--lemon-yellow);
    color: var(--black);
}

#grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "salut salut salut salut"
                         "utilizatori utilizator utilizator server"
                         "calendar calendar tabel tabel"
                         "anunturi anunturi tabel tabel"
                         "lista lista recenzii recenzii"
                         "citat citat electronice electronice"
                         "ecranizari ecranizari ecranizari ecranizari"
                        
}



#Salut{
    grid-area: salut;
}

#Utilizatori{
    grid-area: utilizatori;
}
#Utilizator{
    grid-area: utilizator;
}
#Server{
    grid-area: server;
}
#Tabel{
    grid-area: tabel;
}

#Calendar{
    grid-area: calendar;
}

#Anunturi{
    grid-area: anunturi;
}
#Lista{
    grid-area:lista;
}


#Lista img{
    max-width: 100%;
    height: 100%;
    align-self: center;
}

#Citat{
    grid-area:citat
}

#Electronice{
    grid-area:electronice
}

#Recenzii{
    grid-area: recenzii;
}

#Ecranizari{
    grid-area: ecranizari;
}

#Ecranizari iframe{
    max-width: 100%;
    width: 400px;
    height: 400px;
}

section h2{
    background-color: var(--earth-yellow);
    border: 1px solid  var(--sepia);
}
section{
    padding: 2px;
    border: 1px solid var(--sepia);
}
