body {
  --black:#000000;
  /* for text */
  --lemon-yellow:#FFFFB3;
  /* background color*/
  --earth-yellow:#DCAB6B;
  --sepia:#774E24;
  --silver:#84828F;
  /* for border */
  background-color: var(--lemon-yellow);
  color: var(--black);
}

.iframe-menu {
  display: flex;
  flex-direction: column;
}
.iframe-menu iframe {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 600px;
  height: 400px;
  border: 3px solid var(--black);
}

.taburi-iframe {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.taburi-iframe a {
  display: block;
  margin-right: 20px;
  background-color: var(--silver);
  width: 100px;
  text-decoration: none;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1.5px;
}

#grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "salut salut salut salut" "utilizatori utilizator utilizator server" "calendar calendar tabel tabel" "anunturi anunturi tabel tabel" "lista lista recenzii recenzii" "citat citat electronice electronice" "ecranizari ecranizari ecranizari ecranizari";
}

#Salut {
  grid-area: salut;
}

#Utilizatori {
  grid-area: utilizatori;
}

#Utilizator {
  grid-area: utilizator;
}

#Server {
  grid-area: server;
}

#Tabel {
  grid-area: tabel;
}

#Calendar {
  grid-area: calendar;
}

#Anunturi {
  grid-area: anunturi;
}

#Lista {
  grid-area: lista;
}
#Lista img {
  max-width: 100%;
  height: 100%;
  align-self: center;
}

#Citat {
  grid-area: citat;
}

#Electronice {
  grid-area: electronice;
}

#Recenzii {
  grid-area: recenzii;
}

#Ecranizari {
  grid-area: ecranizari;
}

section {
  padding: 2px;
  border: 1px solid var(--sepia);
}
section h2 {
  background-color: var(--earth-yellow);
  border: 1px solid var(--sepia);
}

nav {
  height: 2rem;
  width: 100%;
  background-color: var(--silver);
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed;
  padding: 0;
  margin: 0;
}
nav ul {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  ul.meniu {
    font-size: 1.2rem;
  }
  ul.meniu .home :nth-child(1) {
    display: none;
  }
  ul.meniu li {
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    list-style-type: none;
    float: left;
    height: 2rem;
  }
  ul.meniu li a, ul.meniu li div {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: var(--silver);
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
    box-sizing: border-box;
    outline: 1px solid var(--black);
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 5px;
  }
  ul.meniu li:hover > a, ul.meniu li:hover > div {
    background-color: var(--earth-yellow);
  }
  ul.meniu li:hover ul {
    display: block;
  }
  ul.meniu > li > a {
    text-shadow: 0px -30px 2px var(--black);
  }
  ul.meniu > li:hover > a {
    text-shadow: 0px 0px 0px var(--black);
  }
  ul.meniu > li:hover ul {
    animation: meniu;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
  ul.meniu li ul a {
    text-decoration: underline solid transparent;
  }
  ul.meniu li ul li:hover a {
    text-decoration: underline solid var(--black);
  }
  ul.meniu ul {
    display: none;
  }

  #hamburger {
    display: none;
  }

  #menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  body {
    font-size: 20px;
  }

  ul.meniu {
    font-size: 0.9rem;
  }
  ul.meniu .home :nth-child(2) {
    display: none;
  }
  ul.meniu li {
    box-sizing: border-box;
    width: 180px;
    text-align: center;
    list-style-type: none;
    float: left;
    height: 2rem;
  }
  ul.meniu li a, ul.meniu li div {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: var(--silver);
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
    box-sizing: border-box;
    outline: 1px solid var(--black);
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 5px;
  }
  ul.meniu li:hover > a, ul.meniu li:hover > div {
    background-color: var(--earth-yellow);
  }
  ul.meniu li:hover ul {
    display: block;
  }
  ul.meniu > li > a {
    text-shadow: 0px -30px 2px var(--black);
  }
  ul.meniu > li:hover > a {
    text-shadow: 0px 0px 0px var(--black);
  }
  ul.meniu > li:hover ul {
    animation: meniu;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
  ul.meniu li ul a {
    text-decoration: underline solid transparent;
  }
  ul.meniu li ul li:hover a {
    text-decoration: underline solid var(--black);
  }
  ul.meniu ul {
    display: none;
  }

  #hamburger {
    display: none;
  }

  #menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }

  #hamburger {
    width: 100%;
    display: block;
    height: 2rem;
  }
  #hamburger span {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 30px;
  }

  #menu-toggle {
    display: none;
  }

  .meniu {
    display: none;
  }

  #menu-toggle:checked ~ .meniu {
    display: block;
    font-size: 0.9rem;
  }
  #menu-toggle:checked ~ .meniu .home :nth-child(2) {
    display: none;
  }
  #menu-toggle:checked ~ .meniu li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    list-style-type: none;
    float: left;
  }
  #menu-toggle:checked ~ .meniu li > a, #menu-toggle:checked ~ .meniu li > div {
    animation: spacing;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
  #menu-toggle:checked ~ .meniu li a, #menu-toggle:checked ~ .meniu li div {
    height: 2rem;
    display: block;
    position: relative;
    cursor: pointer;
    background-color: var(--silver);
    transition: background-color 0.2s linear;
    box-sizing: border-box;
    outline: 1px solid var(--black);
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 5px;
    letter-spacing: 0.06rem;
    text-shadow: 0px -30px 0px transparent;
  }
  #menu-toggle:checked ~ .meniu li:hover > a, #menu-toggle:checked ~ .meniu li:hover > div {
    background-color: var(--earth-yellow);
  }
  #menu-toggle:checked ~ .meniu li:hover ul {
    display: block;
  }
  #menu-toggle:checked ~ .meniu > li:hover ul {
    animation: meniu;
    animation-duration: 0.2s;
    animation-timing-function: linear;
  }
  #menu-toggle:checked ~ .meniu ul {
    display: none;
  }
}
@keyframes meniu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes spacing {
  0% {
    letter-spacing: -0.4rem;
  }
  100% {
    letter-spacing: 0.06rem;
  }
}
