<html>

<head>
    <%- include("../fragmente/head.ejs"); %>
    <title> Eroare 404</title>
</head>

<body>

    <%- include("../fragmente/header.ejs");%>
    <main>
        <h2> Eroare 404</h2>
        <img src="resurse/img/404.png" width=200px height=200px alt="eroare 404">
        <h3> Pagina nu exista!</h3>
    </main>
    <%- include("../fragmente/footer.ejs"); %>

</body>

</html>