<html>

<head>
    <%- include("../fragmente/head.ejs"); %>
    <title> Eroare 404</title>
</head>

<body>

    <%- include("../fragmente/header.ejs");%>
    <main>
        <h2> Eroare 404</h2>
    </main>
    <%- include("../fragmente/footer.ejs"); %>

</body>

</html>