<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head.ejs") %>
    <title> Despre</title>
</head>


<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <section>
            <h2> Despre librărie</h2>
            <p> Această librărie web a fost creată in anul 2022 pentru un proiect la materia <i> Tehnici Web</i>. Site-ul este construit
                ca un exercițiu pentru a invăța javascript, css si html, fiind un magazin online de cărti si DVD-uri. Codul sursă al acestui site
                se poate găsi pe <a href="https://github.com/visanalexandru/Web-Library" target="_blank"> Github </a> .
            </p>
        </section>

        <section >
            <h2> Istoric</h2> 
            <section>
                <h3> <time datetime="2021-02-18"> 18 Februarie 2022: </time></h2>
                <p>  Pagina de inceput a fost creată. </p>
            </section> 
            
            <section>
                <h3> <time datetime="2021-02-19"> 19 Februarie 2022: </time></h2>
                <p>  Adăugat cărti electronice. </p>
            </section> 
            
            <section>
                <h3> <time datetime="2021-02-28"> 28 Februarie 2022: </time></h2>
                <p>  Stilizare site cu <b>CSS</b>. </p>
            </section> 
            
            <section>
                <h3> <time datetime="2021-03-1"> 1 Martie 2022: </time></h2>
                <p>  Schimbări layout. </p>
            </section> 
            
            <section>
                <h3> <time datetime="2021-03-5"> 5 Martie 2022: </time></h2>
                <p>  Adăugat meniu. </p>
            </section> 
            
            <section>
                <h3> <time datetime="2021-03-6"> 6 Martie 2022: </time></h2>
                <p>  Adăugat buton către inceputul paginii. Stilizare taburi iframe.</p>
            </section> 
            
            <section>
                <h3> <time datetime="2021-03-12"> 12 Martie 2022: </time></h2>
                <p> Site-ul acum foloseste javascript pentru backend.</p>
            </section>
        </section>
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>



</html>