#Galerie{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#Galerie figure:nth-child(7){
    grid-area: 3/2/4/3;
}

#Galerie{
    counter-reset: nrimag;
}

#Galerie figure{
    text-align: center;
}
#Galerie figure:hover figcaption{
    transform:scale(1.25,1.25);
    transition: all linear 0.3s ;
}

#Galerie figcaption::before{
    content:counter(nrimag, upper-roman) ")";
    counter-increment: nrimag;
}

#Galerie img{
    width:100%;
}