$inaltime_meniu:2rem;
$timp_tranzitie:0.3s;

header{
  #Banner{
    display: none;
  }
  #Watermark{
    display: none;
  }
}

body{
    // Theme
    --black:#000000; /* for text */
    --lemon-yellow:#FFFFB3; /* background color*/
    --earth-yellow:#DCAB6B;
    --sepia:#774E24;
    --silver:#84828F; /* for border */ 
    --light-yellow:#fcc87e;
    
    background-color: var(--lemon-yellow);
    color: var(--black);


}

.iframe-menu{
  display: flex;
  flex-direction: column;
  
  iframe{
    display: block;
    margin:auto;
    max-width: 100%;
    width: 600px;
    height: 400px;
    border: 3px solid  var(--black);
  }
}

.taburi-iframe{
  display: flex;
  flex-direction: row;
  margin:auto;
  text-align: center;
  a{
    display: block;
    margin-right: 20px;
    background-color: var(--silver);
    transition: background-color $timp_tranzitie linear;
    width: 100px;
    text-decoration: none;
    color: var(--black);
    border: 1px solid  var(--black);
    border-radius: 3px;
    box-shadow: 0px 0px 4px 1.5px;
  }
  a:hover{
    background-color: var(--earth-yellow);
  }

}

#DivOrar{
  flex-direction: column;
  align-items: center;

  #Orar{
    border: 3px solid var(--black);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

      thead th{
        border: 3px solid var(--silver);
        border-bottom: 9px solid var(--silver);
      }
      
      tr{
        box-shadow: none;
        transition:all 0.5s linear;
      }
      tr:hover{
        box-shadow: 0px 0px 8px  green;
      }

      tbody td{
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
      }

      tbody td:nth-child(odd){
        border-left: 3px solid var(--black);
      }
      tbody td:nth-child(even){
        border-left: 3px solid var(--silver);
      }


      tfoot td{
        text-align: center;
        border: 3px solid var(--silver);
        border-top: 9px solid var(--silver);
      }
  }
  
  caption{
    caption-side: bottom;
  }
}


#link-top{
  position:fixed;
  bottom:5%;
  right:5%;

  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  border-left: 5px solid var(--silver);
  border-right: 5px solid var(--silver);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: rgba(0,0,0,0.5); // 50% opacity
  transition: all $timp_tranzitie linear;

  a{
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--silver);
    margin-top: 15px;
    transition: all $timp_tranzitie linear;
  }
  
}
#link-top:hover{
    border-color: var(--silver); // 100% opacity
    a{
      opacity: 1;
      margin-top: 0px;
      border-bottom: 15px solid orange;
    }
  }
#grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "salut salut salut salut"
                         "utilizatori utilizator utilizator server"
                         "calendar calendar tabel tabel"
                         "anunturi anunturi tabel tabel"
                         "lista lista recenzii recenzii"
                         "citat citat electronice electronice"
                         "ecranizari ecranizari ecranizari ecranizari"
                         "videoclip videoclip videoclip videoclip"
                        
}

#Salut{
  grid-area: salut;
}

#Utilizatori{
  grid-area: utilizatori;
}
#Utilizator{
  grid-area: utilizator;
}
#Server{
  grid-area: server;
}
#Tabel{
  grid-area: tabel;
}

#Calendar{
  grid-area: calendar;
}

#Anunturi{
  grid-area: anunturi;
}

#Lista{
  grid-area:lista;
  img{
    max-width: 100%;
    height: 100%;
    align-self: center;
  }
}

#Citat{
  grid-area:citat
}

#Electronice{
  grid-area:electronice
}

#Recenzii{
  grid-area: recenzii;
}

#Ecranizari{
  grid-area: ecranizari;
}

#Videoclip{
  grid-area: videoclip;
  div{
    text-align: center;
  }
  video::cue{
    background-color:red;
    color: var(--black);
    opacity: 0.6;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

section{
  padding: 2px;
  border: 1px solid var(--sepia);
  h2{
    background-color: var(--earth-yellow);
    border: 1px solid  var(--sepia);
  }
  h3{
    background-color: var(--light-yellow);
    border: 1px solid var(--sepia);
  }
}

nav{

  height: $inaltime_meniu;
  width: 100%;
  background-color: var(--silver);
  top: 0;
  left:0;
  z-index: 2;
  position: fixed;
  padding: 0;
  margin: 0;

  ul{
    margin: 0;
    padding: 0;
  }
}


@media screen and (min-width:1200px){
  body{
    font-size: 20px;
  }
  ul.meniu{
    
    font-size: 1.2rem;

    .home{
      :nth-child(1){
        display: none;
      }
    }

    li{
      box-sizing: border-box;
      width: 200px;
      text-align: center;
      list-style-type: none;
      float: left;
      height: $inaltime_meniu;


      a,div{
        display: block;
        position: relative;
        cursor: pointer;
        background-color: var(--silver);
        width: 100%;
        height: 100%;
        transition:all $timp_tranzitie linear;
        box-sizing: border-box;
        outline:1px solid var(--black);
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        padding: 5px;
      }
    }
    li:hover{
      >a,>div{
        background-color: var(--earth-yellow);
      }
      ul{display:block;}
    }

    >li>a{
        text-shadow: 0px -30px 2px var(--black);
    }

    >li:hover{
      >a{
        text-shadow: 0px 0px 0px var(--black);
      }
      ul{
        animation:meniu;
        animation-duration: $timp_tranzitie;
        animation-timing-function: linear;
      }
    }


    li ul a{
      text-decoration: underline solid transparent;
    }

    li ul li:hover a{
      text-decoration: underline solid var(--black);
    }



    ul{
      display: none;
    }

  }
  #hamburger{
    display: none;
  }
  #menu-toggle{
    display: none;
  }
}

@media screen and (min-width:800px) and (max-width:1200px){
  body{
    font-size: 20px;
  }
  ul.meniu{
    font-size: 0.9rem;

    .home{
      :nth-child(2){
        display: none;
      } 
    }

    li{
      box-sizing: border-box;
      width: 180px;
      text-align: center;
      list-style-type: none;
      float: left;
      height: $inaltime_meniu;


      a,div{
        display: block;
        position: relative;
        cursor: pointer;
        background-color: var(--silver);
        width: 100%;
        height: 100%;
        transition:all $timp_tranzitie linear;
        box-sizing: border-box;
        outline:1px solid var(--black);
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        padding: 5px;
      }
    }

    li:hover{
      >a,>div{
        background-color: var(--earth-yellow);
      }
      ul{display:block;}
    }

    >li>a{
        text-shadow: 0px -30px 2px var(--black);
    }

    >li:hover{
      >a{
        text-shadow: 0px 0px 0px var(--black);
      }
      ul{
        animation:meniu;
        animation-duration: $timp_tranzitie;
        animation-timing-function: linear;
      }
    }


    li ul a{
      text-decoration: underline solid transparent;
    }

    li ul li:hover a{
      text-decoration: underline solid var(--black);
    }



    ul{
      display: none;
    }

    

  }
  #hamburger{
      display: none;
  }
  #menu-toggle{
    display: none;
  }
  #DivOrar{
     overflow-x:scroll;
  }
}


@media screen and (max-width:800px){
  body{
    font-size: 20px;
  }
  
  #hamburger{   
    width: 100%;
    display: block;
    height: $inaltime_meniu;

    span{
      display:inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 30px;
    }
  }

  #menu-toggle{
    display: none;
  }

  .meniu {
    display: none;
  }

  #menu-toggle:checked ~ .meniu{
    display: block;
    font-size: 0.9rem;

    .home{
      :nth-child(2){
        display: none;
      } 
    }

    li{
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      list-style-type: none;
      float: left;

      >a,>div{
        animation:spacing;
        animation-duration: $timp_tranzitie;
        animation-timing-function: linear;
      }

      a,div{
        height: $inaltime_meniu;
        display: block;
        position: relative;
        cursor: pointer;
        background-color: var(--silver);
        transition:background-color $timp_tranzitie linear;
        box-sizing: border-box;
        outline:1px solid var(--black);
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        padding: 5px;
        letter-spacing: 0.06rem;
        text-shadow: 0px -30px 0px transparent;
      }
    }

    li:hover{
      >a,>div{
        background-color: var(--earth-yellow);
      }
      ul{display:block;}
    }

    >li:hover{
      ul{
        animation:meniu; 
        animation-duration: $timp_tranzitie;
        animation-timing-function: linear;
      }
    }

    ul{
      display: none;
    }

  } 

  #DivOrar{
     overflow-x:scroll;
  }
}

@media print{
  #Orar td{
    border:3px solid var(--black);
  }
  header{
    text-align: center;
    nav{
      position: inherit;
      page-break-after: always;
      
      #menu-toggle,label{
       display: none;
      }
      li li{
        display: none;
      }
    }

    #Banner{
      position: absolute;
      display: block;
      bottom: 0px;
      left: 15%;
      width: 70%;
      border:4px inset var(--black);
    }
    #Watermark{
      opacity: 0.4;
      display: block;
      position: fixed;
      bottom: 0%;
      right: 0%;
      width: 4cm;
      height: 1cm;
      border: 3px solid var(--black);
      border-radius: 10px;
      font-weight: bold;
      text-align: center;

      p{
        margin: 0;
      }

      @page:left{
        margin-left:3cm;    
        margin-right:1cm;
      }

      @page:right{
        margin-right:3cm;    
        margin-left:1cm;
      }
    }
  }
  
  #link-top{
    display: none;
  }
  video,img,.iframe-menu{
    display: none;
  }
  a{
    text-decoration: none;
    color: var(--black);
  }
  footer{
    page-break-before: always;
  }
}

@keyframes meniu{
  0%{
    transform:scaleY(0); 
  }

  100%{
    transform:scaleY(1); 
  }

}

@keyframes spacing{
  0%{
    letter-spacing: -0.4rem;
  }
  100%{
    letter-spacing: 0.06rem;
  }
}