<footer>
    <section id="Contact">
        <h2> Contact</h2>

        <section>
            <h3> Informatii de contact</h3>

            <p>
                Telefon:
                <a href="tel:+40712-345-678"> 0712-345-678 </a>
            </p>

            <p>
                Adresa:
                <a href="https://goo.gl/maps/hewgiDQcdjeno4Kt8" target="_blank">Google Maps</a>
            </p>

            <p>
                Mail:
                <a href="mailto:abc@example.com">abc@example.com</a>
            </p>
            <p>
                Altele:
                <a href="https://wa.me/15551234567"> WhatsApp</a>
            </p>

        </section>

        <section>
            <h3> Program</h3>
            <p>Luni-Miercuri 9:30-19:30</p>
        </section>

    </section>

    <div id="link-top" title="Inapoi la inceput">
        <a href="#Top"></a>
    </div>

    <p>
        <small>
            &copy; Facultatea de Matematica si Informatica
        </small>
    </p>

    <p>
        <small>
            <time datetime="2022-02-18"> 18 februarie 2022 </time>
        </small>
    </p>

</footer>