<!-- The header-->
<header>
        <div id="Top"><br> </div>
        <h1> Libraria Libdivid</h1>

        <nav>

            <div id="hamburger">
                <label for="menu-toggle">
                    <span class="fas fa-bars"></span>
                </label>
            </div>

            <input id="menu-toggle" type="checkbox" />

            <ul class="meniu">
                <!-- Home option-->
                <li class="home">
                    <!-- Home icon, enabled on medium page size-->
                    <a href="index">
                        <span class="fas fa-home"> </span>
                    </a>

                    <!-- Enabled on maximum page size-->
                    <a href="index"> Acasa </a>
                </li>

                <!-- About link-->
                <li>
                    <a href="despre.html"> Despre</a>
                </li>


                <!-- Products link-->
                <li>
                    <a href="cumpara.html"> Cumpără</a>
                </li>


                <li>
                    <div> Meniu</div>

                    <ul>
                        <li>
                            <a href="index#Salut"> Bine ati venit!</a>
                        </li>
                        <li>
                            <a href="index#Lista"> Cele mai vandute carti</a>
                        </li>

                        <li>
                            <a href="index#Citat"> Citatul zilei</a>
                        </li>

                        <li>
                            <a href="index#Ecranizari"> Ecranizari</a>
                        </li>

                        <li>
                            <a href="index#Electronice"> Carti electronice</a>
                        </li>

                        <li>
                            <a href="index#Contact"> Contact</a>
                        </li>
                    </ul>

                </li>

            </ul>

        </nav>
    </header>
